*.py[co]
*.sw[po]
*.bak
*.orig
*~
*.log
*.egg-info
.project
.pydevproject
setuptools-*.zip
venv/
virtenv/
dist/
build/
wsgi/static/admin/
wsgi/static/report/
wsgi/openshift/db.sqlite3
wsgi/openshift/services/migrations/
