*.py[co]
*.sw[po]
*.bak
*.orig
*~
*.DS_Store*
*.log
*.egg-info
.project
.pydevproject
setuptools-*.zip
.vscode/
venv/
virtenv/
dist/
build/
test/
wsgi/static/admin/
wsgi/static/report/
wsgi/openshift/db.sqlite3
wsgi/openshift/services/migrations/
graphTest.html
